[Desktop Entry]
Version=1.0
Type=Application
Name=Eclipse
Comment=
Exec=eclipse
Icon=/opt/android-adt/eclipse/icon.xpm
Path=
Terminal=false
StartupNotify=false
